*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.main{
    width: 250px;
    height: 250px;
    background: rgb(211, 238, 238);
    border: 10px;
    border-radius: 10px;
    margin: auto;
}

.number{
    width: 90%;
    height: 10%;
    margin: 9px;
    border: 1px;
    text-align: center;
    color: darkblue;
}
.password{
    width: 90%;
    height: 15%;
    margin: 9px;
    border: 1px;
    text-align: center;
    color: yellowgreen;
}
.btn{
width: 90%;
height: 10%;
margin: 9px;
border-radius: 5px;
border: none;
background: blue;
color: aliceblue;
}
.paragraph{
    text-align: center;
    color: blue;
}
.horizontal{
    margin: 10px;
}
.box__btn{
    width: 70%;
    height: 10%;
    text-align: center;
    margin: 38px;
    background: limegreen;
    color: aliceblue;
    border: none;
}